In [2]:
#Exmploratory analysis of the tables
import pandas as pd
dat = pd.read_csv("Employee-SQL/employees.csv")
dat.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991

In [10]:
dat["emp_no"].value_counts().value_counts()
#there are no repeated values in emp_no. Meaning it is a unique key

dat["emp_title_id"].value_counts()
len(dat["emp_title_id"].value_counts())
#There are 7 employee title ids

7